<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828065821211-7s5gfnp3mgj0fp6sg62u324mfunr03k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828065821211-7s5gfnp3mgj0fp6sg62u324mfunr03k7</string>
	<key>API_KEY</key>
	<string>AIzaSyBlSxX0yoGjPWD5DwamXcxjEGelVsPrmys</string>
	<key>GCM_SENDER_ID</key>
	<string>828065821211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.com.simsasukso</string>
	<key>PROJECT_ID</key>
	<string>simsasukso</string>
	<key>STORAGE_BUCKET</key>
	<string>simsasukso.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828065821211:ios:c3f6c6ae3aee3b9764bebe</string>
</dict>
</plist>